<link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
<link href="{{ asset('css/page.css') }}" rel="stylesheet"/>
<div class="main">
    <div class="modal">
        <div class="modal-content">
            <h1 class="title">{{ 'SuccessfulEmailChange' | force_translate( lang ) }}.</h1>
            <p class="text">
                {{ 'YouCanGoBack' | force_translate( lang ) }}
            </p>
            <a href="{{ url }}/login">
                <button class="button">{{ 'Login' | force_translate( lang ) }}</button>
            </a>
            <p class="text">
                {{ 'Cheers' | force_translate( lang ) }}
            </p>
        </div>
    </div>
</div>
