<div>
    <p>{{ 'Hello' | force_translate( lang ) }}: {{ userName }},</p>
    <p>{{ 'ActivateAccountRegister' | force_translate( lang ) }}.</p>
    <p>{{ 'ActivateLink' | force_translate( lang ) }}: <a
                href='{{ url }}/api/register/{{ userEmail }}/{{ code }}'>{{ 'ClickToActivate' | force_translate( lang ) }}</a>
    </p>
</div>

