<div>
    <p>{{ 'ReportDeniedEmail' | force_translate( lang ) }}</p>
    <p>{{ 'Explanation' | force_translate( lang ) }} ::{{ explanation }}.</p>
    <p>{{ 'YourReport' | force_translate( lang ) }}: {{ desc }}</p>
</div>

