<div>
    <p>Witaj {{ userName }},</p>
    <p>Otrzymaliśmy prośbę o zmiana maila twojego konta na: {{ userEmail }}</p>
    <p>Kliknij w link aby .<a href='{{ url }}/api/user/settings/email/change/{{ userEmail }}/{{ id }}'>Kliknij aby zmienić</a></p>
</div>

