<div>
    <p>{{ 'Hello' | force_translate( lang ) }}: {{ name }},</p>
    <p>{{ 'UserBanEmail' | force_translate( lang ) }}: {{ dateTo }}.</p>
    <p>{{ 'Reason' | force_translate( lang ) }}: {{ desc }}.</p>
</div>

