<div>
    <p>{% trans %}Hello{% endtrans %} {{ userName }},</p>
    <p>{% trans %}MailChange{% endtrans %}: {{ userEmail }}</p>
    <p>Link:
        <a href='{{ url }}/api/user/settings/email/change/{{ userEmail }}/{{ id }}'>{% trans %}ClickToChange{% endtrans %}</a>
    </p>
</div>

