<div>
    <p>{{ 'Hello' | force_translate( lang ) }}: {{ userName }},</p>
    <p>{{ 'MailChange' | force_translate( lang ) }} : {{ userEmail }}</p>
    <p>Link:
        <a href='{{ url }}/api/user/settings/email/change/{{ userEmail }}/{{ id }}'>{{ 'ClickToChange' | force_translate( lang ) }}</a>
    </p>
</div>

