<div>
    <p>{{ 'Hello' | force_translate( lang ) }}: {{ userName }}</p>
    <p>{{ 'PasswordChangeCodeDesc' | force_translate( lang ) }}.</p>
    <p>{{ 'Code' | force_translate( lang ) }}: {{ code }}</p>
</div>