<div>
    <p>Witaj {{ userName }},</p>
    <p>Otrzymaliśmy prośbę o zmianie maila twojego konta na podany: {{ userEmail }}</p>
    <p>Link: <a href='{{ url }}/api/user/settings/email/change/{{ userEmail }}/{{ id }}'>Kliknij aby zmienić</a></p>
</div>

