<div>
    <p>{{ 'Hello' | force_translate( lang ) }}: {{ userName }},</p>
    <p>{{ 'PasswordReset' | force_translate( lang ) }}.</p>
    <p>Link: <a href='{{ url }}/user/reset/password/{{ id }}'>{{ 'ClickToChange' | force_translate( lang ) }}</a></p>
</div>

